keybinds clear-defaults=true {
  unbind "Alt Left"
  unbind "Alt Right"

  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
  }

  normal {
    bind "F1" { GoToTab 1; }
    bind "F2" { GoToTab 2; }
    bind "F3" { GoToTab 3; }
    bind "F4" { GoToTab 4; }
    bind "F5" { GoToTab 5; }

    bind "Alt Up" { Resize "Increase Up"; }
    bind "Alt Down" { Resize "Increase Down"; }

    bind "Ctrl h" { MoveFocus "Left"; }
    bind "Ctrl l" { MoveFocus "Right"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }

    bind "Ctrl f" { ToggleFocusFullscreen; }
  }

  tab {
    bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
    bind "n" { NewTab; SwitchToMode "Normal"; }
    bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
  }

  shared_except "locked" {
      bind "Ctrl g" { SwitchToMode "locked"; }
      bind "Ctrl q" { Quit; }
  }

  shared_except "locked" "scroll" "search" "tmux" {
      bind "Ctrl b" { SwitchToMode "tmux"; }
  }

  shared_except "locked" "tab" {
      bind "Ctrl t" { SwitchToMode "tab"; }
  }

  shared_except "normal" "locked" {
      bind "esc" { SwitchToMode "normal"; }
  }

  tmux {
    bind "\"" { NewPane "down"; SwitchToMode "normal"; }
    bind "%" { NewPane "right"; SwitchToMode "normal"; }

    bind "[" { EditScrollback; SwitchToMode "normal"; }

    bind "d" { Detach; }
  }
}

plugins {
  compact-bar location="zellij:compact-bar"
  configuration location="zellij:configuration"

  filepicker location="zellij:strider" {
      cwd "/"
  }

  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"

  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
}

pane_frames false
copy_on_select false
show_startup_tips false

default_layout "zj"
theme "kadev"

scrollback_editor "/opt/homebrew/bin/nvim"

theme {
  //
}
